* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
.container {
  display: flex;
  width: 100%;
  height: max-content;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container h2 {
  font-weight: bold;
  font-size: 40px;
  margin: 40px 0;
  color: red;
  text-decoration: underline;
}

.row {
  display: flex;
}
.col {
  display: flex;
  height: 80px;
  width: 80px;
  border: 1.7px solid black;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}
